-r ../shared.txt
fastapi
uvicorn
python-multipart

# ML libraries only in API:
pandas
scikit-learn
tensorflow
torch
torchvision
transformers
Pillow
joblib
scipy
git+https://github.com/openai/CLIP.git
